[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2"
dynaconf = "*"
pillow = "*"
requests = "*"
social-auth-app-django = "*"
sorl-thumbnail = "*"

[dev-packages]
coverage = "*"
django_coverage_plugin = "*"
# Ver must be equal to Django, otherwise `py manage.py shell_plus --notebook`
# doesn't work.
django-extensions = "~=2.2"
flake8-commas = "*"
flake8-django = "*"
ipython = "*"
jupyter = "*"
pylint-django = "*"
pytest = "*"
pylava = "*"
pylint-runner = "*"

[requires]
python_version = "3.8"
