{% load staticfiles %}
<!DOCTYPE html>
{# https://www.w3.org/TR/html401/struct/dirlang.html  #}
<html lang="en-US">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "account/css/base.css" %}" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <span class="logo"><a href="{% url "dashboard" %}">Bookmarks</a></span>
      {% if request.user.is_authenticated %}
        <ul class="menu">
          <li {% if section == "dashboard" %} class="selected"{% endif %}>
            <a href="{% url "dashboard" %}">My dashboard</a>
          </li>
          <li {% if section == "images" %}class="selected"{% endif %}>
            <a href="#">Images</a>
          </li>
          <li {% if section == "people" %}class="selected"{% endif %}>
            <a href="#">People</a>
          </li>
        </ul>
      {% endif %}
      <span class="user">
        {% if request.user.is_authenticated %}
          Hello {{ request.user.first_name }},
          <a href="{% url "logout" %}">Logout</a>
        {% else %}
          <a href="{% url "login" %}">Log-in</a>
        {% endif %}
      </span>
    </div>
    {# A Django message system connect the #}
    {# `django.contrib.messages.context_processor.messages` authomatically, #}
    {# it add a `messages` variable to template context. #}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {# https://docs.djangoproject.com/en/2.2/ref/contrib/messages/#message-tags #}
          <li class="{{ message.tags }}">
            {{ message|safe }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div id="content">
      {% block content %}{% endblock %}
    </div>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
  </script>
    {# Load plugin for easy cookie serving. #}
    {# Details: https://github.com/js-cookie/js-cookie #}
  <script
    src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js">
  </script>
  {% block imports %}{% endblock %}
  <script>
    {# Apparently, the `js-cookie` plugin creates a `Cookies` variable it #}
    {# allows access to cookies. #}
    let csrftoken = Cookies.get('csrftoken');
    {# It checks csrf-token for the current method if necessary (add it for #}
    {# POST and PUT). #}
    function csrfSafeMethod(method) {
      {# A token isn't added to headers for these methods. #}
      {# It is correct regular expression syntax. #}
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    {#`$` is the main jQuery obj, `ajaxSetup` configures ajax requests #}
    {# , before sending it checks whether is need to add a csrf token to the #}
    {# `request`. #}
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    {# A jQuery function that takes code as an argument to execute after the #}
    {# DOM has been built - it is ensuring that all DOM elements are #}
    {# available when code is executed. #}
    $(document).ready(function() {
      {% block domready %}{% endblock %}
    })
  </script>
  </body>
</html>